.breakpoint-0,
.style33 {
  background-color: #f6f8f9
}
.breakpoint-0 {
  margin-right: auto;
  width: 100%;
  margin-left: auto
}
.style33 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
  height: 3.4722222222222223vw;
  align-items: center
}
.style34,
.style35,
.style36,
.style37,
.style38 {
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  align-self: center
}
.style34 {
  color: #fa6980;
  margin-left: 1.3888888888888888vw;
  font-size: .9027777777777778vw
}
.style35,
.style36,
.style37,
.style38 {
  font-size: .7638888888888888vw
}
.style35 {
  color: #343638;
  margin-left: 71.18055555555556vw
}
.style36,
.style37,
.style38 {
  color: rgba(52,54,56,.5);
  margin-left: 1.875vw
}
.style36,
.style37 {
  margin-left: 1.5277777777777777vw
}
.style39 {
  object-fit: cover;
  margin-left: 2.7777777777777777vw;
  width: 2.0833333333333335vw;
  height: 2.0833333333333335vw;
  align-self: center;
  border-radius: 50%
}
.desktop1row1,
.style1 {
  display: flex;
  margin-left: 0
}
.desktop1row1 {
  flex-wrap: wrap;
  width: 100vw
}
.style1 {
  background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6keagv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  width: 58.333333333333336vw;
  min-width: 840px;
  height: 41.666666666666664vw;
  flex-direction: column;
  flex-grow: 1
}
.style3,
.style6 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  width: 41.666666666666664vw
}
.style6 {
  margin-left: 9.722222222222221vw;
  margin-top: 12.291666666666666vw;
  height: 1.3888888888888888vw
}
.style3 {
  margin-top: 5.555555555555555vw;
  height: 1.6666666666666667vw
}
.style2,
.style3,
.style4 {
  margin-left: 9.722222222222221vw
}
.style2 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 38.888888888888886vw;
  height: 2.986111111111111vw
}
.style4 {
  background-color: #fa6980;
  display: flex;
  margin-top: 2.0833333333333335vw;
  width: 9.305555555555555vw;
  height: 2.7777777777777777vw;
  align-items: center;
  justify-content: center;
  border-radius: .4166666666666667vw
}
.style5 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  width: 5.138888888888889vw;
  height: .5555555555555556vw
}
.style65 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 41.666666666666664vw;
  min-width: 600px;
  height: 41.666666666666664vw;
  flex-direction: column;
  flex-grow: 1
}
.desktop1row1container12row0 {
  display: flex;
  margin-left: 6.944444444444445vw;
  margin-top: 6.944444444444445vw;
  width: 26.38888888888889vw;
  height: 1.3888888888888888vw;
  align-items: center
}
.style66 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 22.98611111111111vw;
  height: 1.3888888888888888vw
}
.style67,
.style68 {
  width: .4166666666666667vw;
  height: .6944444444444444vw;
  align-self: center
}
.style68 {
  position: relative;
  margin-left: -.20833333333333334vw
}
.style67 {
  margin-left: 2.7777777777777777vw
}
.style70 {
  display: grid;
  margin-left: 6.944444444444445vw;
  margin-top: 5.555555555555555vw;
  width: 29.166666666666668vw;
  grid-gap: 2.7083333333333335vw
}
.style71 {
  display: flex
}
.desktop1row1container12grid1container13col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: 8.958333333333334vw;
  flex-direction: column
}
.style72 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: .9722222222222222vw
}
.style72,
.style73,
.style74 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style73 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  margin-top: 1.3888888888888888vw;
  width: 29.166666666666668vw;
  height: 1.1111111111111112vw
}
.style74 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 26.38888888888889vw;
  height: 2.986111111111111vw
}
.desktop1row1container12grid1container13col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw
}
.style76 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style75 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  width: 4.027777777777778vw;
  height: .9027777777777778vw
}
.style77 {
  display: flex
}
.desktop1row1container12grid1container14col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: 8.958333333333334vw;
  flex-direction: column
}
.style78 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  margin-top: 0;
  width: 29.166666666666668vw;
  height: .9722222222222222vw
}
.style78,
.style79,
.style80 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style79 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  margin-top: 1.3888888888888888vw;
  width: 29.166666666666668vw;
  height: 1.1111111111111112vw
}
.style80 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  width: 26.38888888888889vw;
  height: 2.986111111111111vw
}
.desktop1row1container12grid1container14col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw
}
.style82 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style81 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  width: 4.027777777777778vw;
  height: .9027777777777778vw
}
.desktop1row2 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  align-items: center
}
.style62 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 71.18055555555556vw;
  height: 1.3888888888888888vw;
  flex-grow: 1
}
.style63,
.style64 {
  margin-left: 5.763888888888889vw;
  width: .4166666666666667vw;
  height: .6944444444444444vw;
  align-self: center;
  flex-grow: 1
}
.style63 {
  margin-left: 2.7777777777777777vw
}
.style40 {
  display: grid;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  grid: none/repeat(auto-fit,minmax(360px,1fr));
  grid-gap: 2.7777777777777777vw
}
.style41 {
  display: flex
}
.desktop1grid0container6col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style42,
.style43 {
  width: 100%;
  height: 12.5vw
}
.style43 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style42 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container6col0container7col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style44,
.style45 {
  margin-left: 0;
  width: 100%
}
.style44 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style45 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container6col0container7col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 24.642857142857146%;
  height: 1.1111111111111112vw
}
.style47 {
  margin-left: 0;
  width: 23.18840579710145%;
  height: 1.1111111111111112vw
}
.style46 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style48 {
  display: flex
}
.desktop1grid0container8col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style49,
.style50 {
  width: 100%;
  height: 12.5vw
}
.style50 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style49 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container8col0container9col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style51,
.style52 {
  margin-left: 0;
  width: 100%
}
.style51 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style52 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container8col0container9col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 23.57142857142857%;
  height: 1.1111111111111112vw
}
.style54 {
  margin-left: 0;
  width: 24.242424242424242%;
  height: 1.1111111111111112vw
}
.style53 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style55 {
  display: flex
}
.desktop1grid0container10col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style56,
.style57 {
  width: 100%;
  height: 12.5vw
}
.style57 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw .4166666666666667vw 0 0
}
.style56 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw;
  border-radius: 0 0 .4166666666666667vw .4166666666666667vw
}
.desktop1grid0container10col0container11col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 3.4722222222222223vw;
  width: 77.77777777777779%;
  height: 6.25vw;
  flex-direction: column
}
.style58,
.style59 {
  margin-left: 0;
  width: 100%
}
.style58 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style59 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 1.5972222222222223vw;
  margin-top: .6944444444444444vw;
  height: 2.638888888888889vw
}
.desktop1grid0container10col0container11col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 23.57142857142857%;
  height: 1.1111111111111112vw
}
.style61 {
  margin-left: 0;
  width: 24.242424242424242%;
  height: 1.1111111111111112vw
}
.style60 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.desktop1row4 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  align-items: center
}
.style8 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  margin-left: 0;
  width: 53.47222222222222vw;
  height: 1.3888888888888888vw;
  flex-grow: 1
}
.style83,
.style84 {
  margin-left: 23.47222222222222vw;
  width: .4166666666666667vw;
  height: .6944444444444444vw;
  align-self: center;
  flex-grow: 1
}
.style83 {
  margin-left: 2.7777777777777777vw
}
.desktop1row5 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 4vh;
  width: 80.55555555555556vw;
  flex-wrap: wrap
}
.style101 {
  display: grid;
  margin-left: 0;
  width: 52.77777777777778vw;
  grid-gap: 2.7777777777777777vw
}
.style102 {
  display: flex;
  flex-direction: column
}
.style103 {
  background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kegcj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw;
  border-radius: .4166666666666667vw
}
.desktop1row5grid3container18image29col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style104,
.style105,
.style108 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 0
}
.style108 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 0;
  height: 1.1111111111111112vw;
  width: 47.916666666666664vw
}
.style104,
.style105 {
  width: 47.22222222222222vw
}
.style105 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  margin-top: 16.11111111111111vw;
  height: 1.6666666666666667vw
}
.style104 {
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  height: 2.9166666666666665vw;
  text-overflow: clip;
  overflow: hidden
}
.desktop1row5grid3container18image29col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style107 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style106 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .5555555555555556vw
}
.style109 {
  display: flex;
  flex-direction: column
}
.style110 {
  background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kegvp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw;
  border-radius: .4166666666666667vw
}
.desktop1row5grid3container19image31col0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.style111,
.style112,
.style115 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 0
}
.style115 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 0;
  height: 1.1111111111111112vw;
  width: 47.916666666666664vw
}
.style111,
.style112 {
  width: 47.22222222222222vw
}
.style112 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  margin-top: 16.11111111111111vw;
  height: 1.6666666666666667vw
}
.style111 {
  font-size: 1.1111111111111112vw;
  line-height: 1.8055555555555556vw;
  margin-top: .6944444444444444vw;
  height: 2.9166666666666665vw;
  text-overflow: clip;
  overflow: hidden
}
.desktop1row5grid3container19image31col0row3 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style114 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style113 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .5555555555555556vw
}
.style85 {
  display: grid;
  margin-left: 2.7777777777777777vw;
  width: 25vw;
  grid-gap: 2.7777777777777777vw
}
.style86 {
  display: flex;
  flex-direction: column
}
.style87,
.style88 {
  margin-left: 0;
  width: 25vw
}
.style88 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style87 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container15row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 10.48611111111111vw;
  height: 1.1111111111111112vw
}
.style90 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style89 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style91 {
  display: flex;
  flex-direction: column
}
.style92,
.style93 {
  margin-left: 0;
  width: 25vw
}
.style93 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style92 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container16row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 8.055555555555555vw;
  height: 1.1111111111111112vw
}
.style95 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style94 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style96 {
  display: flex;
  flex-direction: column
}
.style97,
.style98 {
  margin-left: 0;
  width: 25vw
}
.style98 {
  object-fit: cover;
  margin-top: 0;
  border-radius: .4166666666666667vw;
  height: 14.583333333333334vw
}
.style97 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  margin-top: 1.3888888888888888vw;
  height: 1.1111111111111112vw
}
.desktop1row5grid2container17row2 {
  display: flex;
  margin-left: 0;
  margin-top: .6944444444444444vw;
  width: 8.958333333333334vw;
  height: 1.1111111111111112vw
}
.style100 {
  margin-left: 0;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style99 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style9 {
  background-color: #a6adb4;
  display: flex;
  margin-left: 0;
  margin-top: 10vh;
  width: 100vw;
  height: 13.88888888888889vw
}
.style22 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: 9.722222222222221vw;
  margin-top: 4.027777777777778vw
}
.desktop1container1col1 {
  display: flex;
  margin-left: 4.375vw;
  margin-top: 3.888888888888889vw;
  width: 4.305555555555555vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style10,
.style13,
.style16,
.style19 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col2 {
  display: flex;
  margin-left: 2.638888888888889vw;
  margin-top: 3.888888888888889vw;
  width: 4.097222222222222vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style11,
.style14,
.style17,
.style20 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col3 {
  display: flex;
  margin-left: 2.8472222222222223vw;
  margin-top: 3.888888888888889vw;
  width: 5.486111111111111vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style12,
.style15,
.style18,
.style21 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop1container1col4,
.style23 {
  display: flex;
  width: 18.055555555555557vw
}
.desktop1container1col4 {
  margin-left: 15.347222222222221vw;
  margin-top: 4.027777777777778vw;
  flex-direction: column;
  height: 4.583333333333333vw
}
.style23 {
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  margin-top: 0;
  height: 2.7777777777777777vw;
  align-items: center;
  border-radius: .4166666666666667vw
}
.style25 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.3888888888888888vw;
  width: 2.4305555555555554vw;
  height: .6944444444444444vw;
  align-self: center
}
.style24 {
  margin-left: 11.73611111111111vw;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw;
  align-self: center
}
.style26 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  margin-top: 1.1111111111111112vw;
  width: 18.055555555555557vw;
  height: .6944444444444444vw
}
.style29,
.style31 {
  margin-top: 3.888888888888889vw;
  height: 1.1111111111111112vw
}
.style31 {
  width: 1.1111111111111112vw;
  margin-left: 9.722222222222221vw
}
.style29 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  flex-direction: column
}
.style27,
.style29,
.style30 {
  width: 1.1111111111111112vw
}
.style30 {
  height: .9012179904513888vw
}
.style27 {
  position: relative;
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  align-items: center;
  flex-direction: column
}
.style27,
.style28,
.style32 {
  height: 1.1111111111111112vw
}
.style28 {
  position: relative;
  flex-shrink: 0;
  width: .5802408854166666vw
}
.style32 {
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  width: 1.1111111111111112vw
}
.breakpoint-1 {
  display: none
}
.breakpoint-0 {
  display: block
}
@media (max-width:375px) {
  .breakpoint-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #f6f8f9
  }
  .style196 {
    background-color: #f6f8f9;
    height: 23.466666666666665vw
  }
  .mobile1container14col0,
  .style196,
  .style197 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 100vw
  }
  .mobile1container14col0 {
    flex-direction: column;
    height: 20.622200520833335vw
  }
  .style197 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kemig.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 11.733333333333333vw;
    align-items: center
  }
  .style203,
  .style204 {
    position: relative;
    width: 14.4vw;
    height: 4.266666666666667vw
  }
  .style203 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6keneq.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 5.6vw;
    align-self: center;
    flex-direction: column
  }
  .style204 {
    color: #343638;
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 3.7333333333333334vw;
    flex-shrink: 0
  }
  .style202 {
    margin-left: 58.3111328125vw;
    width: 4.533333333333333vw;
    height: 2.8444010416666665vw;
    align-self: center
  }
  .style198,
  .style201 {
    margin-left: 1.3404947916666667vw;
    width: 4.07265625vw;
    height: 2.9241536458333335vw;
    align-self: center
  }
  .style198 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kempw.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-left: .26666666666666666vw solid #343638;
    border-right: .26666666666666666vw solid #343638;
    border-top: .26666666666666666vw solid #343638;
    border-bottom: .26666666666666666vw solid #343638;
    display: flex;
    margin-left: 1.3423828125vw;
    width: 5.866666666666666vw;
    height: 3.022265625vw;
    flex-direction: column
  }
  .style200 {
    width: 4.8vw;
    height: 1.9555989583333333vw
  }
  .style199 {
    margin-left: .26666666666666666vw;
    width: .3541666666666667vw;
    height: 1.0666666666666667vw;
    align-self: center
  }
  .mobile1container14col0row1 {
    display: flex;
    margin-left: 4.266666666666667vw;
    margin-top: 2.4888671875vw;
    width: 91.46666666666667vw;
    height: 6.4vw
  }
  .mobile1container14col0row1col0 {
    display: flex;
    margin-left: 0;
    margin-top: .9777994791666667vw;
    width: 4.266666666666667vw;
    height: 3.7333333333333334vw;
    flex-direction: column;
    justify-content: space-between
  }
  .style208,
  .style209,
  .style210 {
    background-color: #343638;
    width: 4.266666666666667vw;
    height: .5333333333333333vw;
    border-radius: .26666666666666666vw
  }
  .style209,
  .style210 {
    width: 2.6666666666666665vw
  }
  .style210 {
    width: 4.266666666666667vw
  }
  .style205 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    font-weight: 700;
    line-height: 5.333333333333333vw;
    margin-left: 36.53333333333333vw;
    margin-top: .9777994791666667vw
  }
  .style206,
  .style207 {
    width: 4.266666666666667vw
  }
  .style206 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kenjt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    margin-left: 36.266666666666666vw;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: 6.4vw
  }
  .style207 {
    background-color: #fff;
    height: 4.266666666666667vw;
    border-radius: 50%
  }
  .style117,
  .style118 {
    display: flex;
    width: 100vw;
    height: 103.46666666666667vw
  }
  .style117 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kehdm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    margin-left: 0
  }
  .style118 {
    background-color: rgba(0,0,0,.2);
    flex-direction: column
  }
  .style120,
  .style123 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    margin-left: 6.4vw;
    margin-top: 10.666666666666666vw;
    width: 87.2vw;
    height: 5.333333333333333vw
  }
  .style120 {
    line-height: 9.066666666666666vw;
    margin-top: 21.333333333333332vw;
    height: 15.466666666666667vw;
    text-overflow: clip;
    overflow: hidden
  }
  .style119,
  .style121 {
    margin-left: 6.4vw;
    margin-top: 5.333333333333333vw
  }
  .style119 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    width: 87.2vw;
    height: 18.666666666666668vw
  }
  .style121 {
    background-color: #fa6980;
    display: flex;
    width: 40.266666666666666vw;
    height: 10.666666666666666vw;
    align-items: center;
    justify-content: center;
    border-radius: 1.6vw
  }
  .style122 {
    color: #fff;
    text-align: center;
    font-family: Helvetica,serif;
    font-size: 2.933333333333333vw;
    font-weight: 700;
    line-height: 5.333333333333333vw
  }
  .style178 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    width: 100vw;
    height: 127.46666666666667vw
  }
  .mobile1container11col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 10.666666666666666vw;
    width: 87.2vw;
    height: 106.13333333333334vw;
    flex-direction: column
  }
  .mobile1container11col0row0,
  .style179 {
    margin-left: 0;
    height: 5.333333333333333vw
  }
  .mobile1container11col0row0 {
    display: flex;
    margin-top: 0;
    align-items: center;
    width: 87.2vw
  }
  .style179 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    width: 40.266666666666666vw
  }
  .style180,
  .style181 {
    margin-left: 35.2vw;
    width: 1.6vw;
    height: 2.6666666666666665vw;
    align-self: center
  }
  .style180 {
    margin-left: 8.533333333333333vw
  }
  .style183 {
    display: grid;
    margin-left: 0;
    margin-top: 21.333333333333332vw;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style184 {
    display: flex
  }
  .mobile1container11col0grid3container12col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 34.13333333333333vw;
    flex-direction: column
  }
  .style185 {
    color: #fa6980;
    font-family: Helvetica,serif;
    font-weight: 700;
    margin-top: 0;
    height: 3.7333333333333334vw
  }
  .style185,
  .style186,
  .style187 {
    font-size: 4.266666666666667vw;
    margin-left: 0;
    width: 87.2vw
  }
  .style186 {
    font-weight: 700;
    color: #202124;
    font-family: Helvetica,serif;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .style187 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    line-height: 6.933333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 11.2vw
  }
  .mobile1container11col0grid3container12col0row3 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 18.4vw;
    height: 4.266666666666667vw
  }
  .style189 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style188 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style190 {
    display: flex
  }
  .mobile1container11col0grid3container13col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 34.13333333333333vw;
    flex-direction: column
  }
  .style191 {
    color: #fa6980;
    font-family: Helvetica,serif;
    font-weight: 700;
    margin-top: 0;
    height: 3.7333333333333334vw
  }
  .style191,
  .style192,
  .style193 {
    font-size: 4.266666666666667vw;
    margin-left: 0;
    width: 87.2vw
  }
  .style192 {
    font-weight: 700;
    color: #202124;
    font-family: Helvetica,serif;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .style193 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    line-height: 6.933333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 11.2vw
  }
  .mobile1container11col0grid3container13col0row3 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 17.6vw;
    height: 4.266666666666667vw
  }
  .style195 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style194 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .mobile1row3 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    align-items: center
  }
  .style140 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    margin-left: 0;
    width: 33.6vw;
    height: 5.333333333333333vw;
    flex-grow: 1
  }
  .style141,
  .style142 {
    margin-left: 41.86666666666667vw;
    width: 1.6vw;
    height: 2.6666666666666665vw;
    align-self: center;
    flex-grow: 1
  }
  .style141 {
    margin-left: 8.533333333333333vw
  }
  .style125 {
    display: grid;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style126 {
    display: flex
  }
  .mobile1grid0container2col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 82.13333333333334vw;
    flex-direction: column
  }
  .style127,
  .style128 {
    margin-top: 0;
    width: 87.2vw;
    height: 41.06666666666667vw
  }
  .style128 {
    object-fit: cover;
    border-radius: 1.6vw 1.6vw 0 0
  }
  .style127 {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 1.6vw 1.6vw
  }
  .mobile1grid0container2col0container3col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 74.4vw;
    height: 24vw;
    flex-direction: column
  }
  .style129,
  .style130 {
    margin-left: 0;
    width: 74.4vw
  }
  .style129 {
    font-weight: 700;
    margin-top: 0;
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style130 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    font-size: 3.466666666666667vw;
    line-height: 6.133333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 10.133333333333333vw
  }
  .mobile1grid0container2col0container3col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 18.4vw;
    height: 4.266666666666667vw
  }
  .style132 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style131 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style133 {
    display: flex
  }
  .mobile1grid0container4col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 82.13333333333334vw;
    flex-direction: column
  }
  .style134,
  .style135 {
    margin-top: 0;
    width: 87.2vw;
    height: 41.06666666666667vw
  }
  .style135 {
    object-fit: cover;
    border-radius: 1.6vw 1.6vw 0 0
  }
  .style134 {
    background-color: #fff;
    display: flex;
    border-radius: 0 0 1.6vw 1.6vw
  }
  .mobile1grid0container4col0container5col0 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 74.4vw;
    height: 24vw;
    flex-direction: column
  }
  .style136,
  .style137 {
    margin-left: 0;
    width: 74.4vw
  }
  .style136 {
    font-weight: 700;
    margin-top: 0;
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style137 {
    color: #a6adb4;
    font-family: 'Acumin Pro',serif;
    font-size: 3.466666666666667vw;
    line-height: 6.133333333333334vw;
    margin-top: 2.6666666666666665vw;
    height: 10.133333333333333vw
  }
  .mobile1grid0container4col0container5col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 17.6vw;
    height: 4.266666666666667vw
  }
  .style139 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style138 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .mobile1row5 {
    display: flex;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    align-items: center
  }
  .style143 {
    color: #202124;
    font-family: Helvetica,serif;
    font-size: 6.4vw;
    font-weight: 700;
    margin-left: 0;
    width: 55.733333333333334vw;
    height: 5.333333333333333vw;
    flex-grow: 1
  }
  .style144,
  .style145 {
    margin-left: 19.733333333333334vw;
    width: 1.6vw;
    height: 2.6666666666666665vw;
    align-self: center;
    flex-grow: 1
  }
  .style144 {
    margin-left: 8.533333333333333vw
  }
  .style146 {
    position: relative;
    display: grid;
    margin-left: 6.4vw;
    margin-top: 4.926108374384237vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style147 {
    position: relative;
    display: flex;
    flex-shrink: 0
  }
  .style148 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kejj1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 80vw;
    flex-direction: column;
    border-radius: 1.6vw
  }
  .style150,
  .style153 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 85.3211009174312%;
    height: 4.266666666666667vw
  }
  .style150 {
    font-size: 6.4vw;
    line-height: 9.066666666666666vw;
    margin-top: 14.933333333333334vw;
    height: 15.466666666666667vw;
    text-overflow: clip;
    overflow: hidden
  }
  .mobile1grid1container6image10row3,
  .style149 {
    margin-left: 6.4vw;
    margin-top: 2.6666666666666665vw
  }
  .style149 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    text-overflow: clip;
    overflow: hidden;
    width: 85.3211009174312%;
    height: 18.666666666666668vw
  }
  .mobile1grid1container6image10row3 {
    display: flex;
    width: 21.100917431192663%;
    height: 4.266666666666667vw
  }
  .style152 {
    margin-left: 0;
    width: 23.18840579710145%;
    height: 4.266666666666667vw
  }
  .style151 {
    color: #cbd0d3;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style154 {
    display: flex;
    flex-shrink: 0
  }
  .style155 {
    background-image: url(https://designresources.assets.yotako.io/e7upykp1skb6kejz5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 80vw;
    flex-direction: column;
    border-radius: 1.6vw
  }
  .style157,
  .style160 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-left: 6.4vw;
    margin-top: 8.533333333333333vw;
    width: 85.3211009174312%;
    height: 4.266666666666667vw
  }
  .style157 {
    font-size: 6.4vw;
    line-height: 9.066666666666666vw;
    margin-top: 14.933333333333334vw;
    height: 15.466666666666667vw;
    text-overflow: clip;
    overflow: hidden
  }
  .mobile1grid1container7image12row3,
  .style156 {
    margin-left: 6.4vw;
    margin-top: 2.6666666666666665vw
  }
  .style156 {
    color: #fff;
    font-family: Helvetica,serif;
    font-size: 4.266666666666667vw;
    line-height: 6.933333333333334vw;
    text-overflow: clip;
    overflow: hidden;
    width: 85.3211009174312%;
    height: 18.666666666666668vw
  }
  .mobile1grid1container7image12row3 {
    display: flex;
    width: 20.18348623853211%;
    height: 4.266666666666667vw
  }
  .style159 {
    margin-left: 0;
    width: 24.242424242424242%;
    height: 4.266666666666667vw
  }
  .style158 {
    color: #cbd0d3;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style161 {
    display: grid;
    margin-left: 6.4vw;
    margin-top: 9.852216748768473vh;
    width: 87.2vw;
    grid-gap: 10.666666666666666vw
  }
  .style162 {
    display: flex
  }
  .mobile1grid2container8col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style163,
  .style164 {
    margin-left: 0;
    width: 87.2vw
  }
  .style163 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style164 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container8col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 40.266666666666666vw;
    height: 4.266666666666667vw
  }
  .style166 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style165 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style167 {
    display: flex
  }
  .mobile1grid2container9col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style168,
  .style169 {
    margin-left: 0;
    width: 87.2vw
  }
  .style168 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style169 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container9col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 30.933333333333334vw;
    height: 4.266666666666667vw
  }
  .style171 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style170 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .style172 {
    display: flex
  }
  .mobile1grid2container10col0 {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 87.2vw;
    height: 64.53333333333333vw;
    flex-direction: column
  }
  .style173,
  .style174 {
    margin-left: 0;
    width: 87.2vw
  }
  .style173 {
    object-fit: cover;
    margin-top: 0;
    border-radius: 1.6vw;
    height: 48vw
  }
  .style174 {
    color: #202124;
    font-family: 'Acumin Pro',serif;
    font-size: 4.266666666666667vw;
    font-weight: 700;
    margin-top: 5.333333333333333vw;
    height: 4.266666666666667vw
  }
  .mobile1grid2container10col0row2 {
    display: flex;
    margin-left: 0;
    margin-top: 2.6666666666666665vw;
    width: 34.4vw;
    height: 4.266666666666667vw
  }
  .style176 {
    margin-left: 0;
    width: 4.266666666666667vw;
    height: 4.266666666666667vw
  }
  .style175 {
    color: #a6adb4;
    font-family: Helvetica,serif;
    font-size: 3.466666666666667vw;
    line-height: 6.933333333333334vw;
    margin-left: 2.6666666666666665vw
  }
  .breakpoint-0 {
    display: none
  }
  .breakpoint-1 {
    display: block
  }
}